<div>
  <h1>About</h1>
  <ul>
    <li>利用にはTwitterアカウントが必要です。</li>
    <li><%= link_to "Amazon EC2", "https://aws.amazon.com/jp/ec2/" %>上で稼働しています。広告収入はサーバー及びドメイン維持費に充てられます。</li>
    <li>エンジニア&lt;見習&gt;<%= link_to "@from20020516", "https://twitter.com/from20020516" %> がスキル上げ目的で合成しました。</li>
  </ul>
</div>
<div>
  <h1>Privacy</h1>
  <p>当サービスではユーザーの情報を以下の目的で収集/利用します。</p>
	<ul>
		<li>Twitter UID</li>
		<p>Twitterから提供される、ユーザーを表す一意のIDです。ログインに使用します。(例：728819159216197632) </p>
		<li>メールアドレス</li>
		<p>Twitterから提供されます。何らかの理由でTwitter IDを失ったとき、データの復旧に使用します。ユーザー自身の操作を除き、登録されているメールアドレスに連絡することはありません。</p>
		<li>Cookie</li>
		<p>当サービスが利用する、以下のサービスで利用します。いずれも個人を特定するものではありませんが、ブラウザのCookieを無効にすることで収集を拒否することができます。</p>
			<ul>
				<li>Google Analytics</li>
				<p>アクセス解析に使用します。</p>
				<li>Amazon アソシエイト</li>
				<p>広告配信内容の最適化に使用します。</p>
			</ul>
		</li>
	</ul>
</div>
<div>
  <h1>License</h1>
  <h5>Resources / BSD 3-Clause "New" or "Revised" License</h5>
  <p>
    Copyright © 2014 Windower Team<br class="d-none d-lg-block">
    All rights reserved.<br>
    <br>
    Redistribution and use in source and binary forms, with or without<br class="d-none d-lg-block">
    modification, are permitted provided that the following conditions are met:<br>
    <br>
    * Redistributions of source code must retain the above copyright notice, this<br class="d-none d-lg-block">
      list of conditions and the following disclaimer.<br>
    <br>
    * Redistributions in binary form must reproduce the above copyright notice,<br class="d-none d-lg-block">
      this list of conditions and the following disclaimer in the documentation<br class="d-none d-lg-block">
      and/or other materials provided with the distribution.<br>
    <br>
    * Neither the name of the {organization} nor the names of its<br class="d-none d-lg-block">
      contributors may be used to endorse or promote products derived from<br class="d-none d-lg-block">
      this software without specific prior written permission.<br>
    <br>
    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"<br class="d-none d-lg-block">
    AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE<br class="d-none d-lg-block">
    IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE<br class="d-none d-lg-block">
    DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE<br class="d-none d-lg-block">
    FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL<br class="d-none d-lg-block">
    DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR<br class="d-none d-lg-block">
    SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER<br class="d-none d-lg-block">
    CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,<br class="d-none d-lg-block">
    OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE<br class="d-none d-lg-block">
    OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  </p>
</div>