/* universal */

div[class^="col"] {
  //border: 1px red solid; // debug for Bootstrap
}

body {
  margin-top: 65px!important;
}

#equipset {
  float: right!important;
  .row {
    margin-bottom: 0;
  }
  .form-control {
    margin-top: 10px; //margin-bottom: 5px;
  }
}

.container {
  margin-top: 15px;
}

/* header */

header {
  height: 50px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed !important;
  top: 0;
  z-index: 10;
  form .form-control {
    margin-right: 10px;
    margin-bottom: 0px;
    float: left;
  }
  .alert {
    margin-bottom: 0;
    padding: .5rem 1.5rem;
  }
}

/* sidebar */

sidebar {
  text-align: center;
  div {
    margin-bottom: 15px;
  }
  img {
    //border: 1px black solid;
  }
}

/* footer */

footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  text-align: center;
  a {
    color: #555;
  }
  a:hover {
    color: #222;
  }
  ul {
    float: right;
    list-style: none;
  }
  ul li {
    float: left;
    margin-left: 15px;
  }
  #rails-logo {
    float: right;
  }
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
