// * {
//   outline: 1px dashed gray;
//   outline-offset: -1px;
// }
body {
  margin-top: 65px!important; // header
  color: grey!important;
  background-color: #00001F!important;
  a {
    color: lightgray;
    &:hover {
      //color: #222;
    }
  }

  #landing-page {
    margin-top: 65px;
    span {
      color: white;
    }
  }

  #show {
    vartical-align: middle;
    a {
      color: lightslategray;
      font-weight: bold;
    }
  }
}

#gearset {
  .row {
    margin-bottom: 0;
  }
  .form-control {
    margin-top: 10px;
    color: #00001F;
    font-weight: bold;
    background-color: #8B9FB3;
  }
}

#gearmenu {
  width: 274px; //(64+1+1)*4+border*2
  height: 274px;
  border: 5px solid #003366;

  div[class^="col"] {
    outline: 1px solid #003366;
    outline-offset: -1px;
    background-color: lightslategray;
    padding: 1px 1px;
  }
  .row {
    margin: 0 0;
  }
}

.navbar {
  //opacity: 0.9;
  background-color: black;
  height: 50px;
  .btn-group {
    width: 50%;
  }
}

.sidebar {
  .borderless img {
    outline: 1px solid gray;
    outline-offset: -1px;
  }
  .amzn {
    height: 250px;
  }
}

.footer {
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: lightgray;
    &:hover {
      //color: #222;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-align: center;
}
