// * {
//   outline: 1px dashed gray;
//   outline-offset: -1px;
// }
html {
  position: relative;
  min-height: 100%;
}

body>.container {
  //border: 1px solid red;
  padding: 60px 15px 0;
}

body {
  margin-top: 65px;
  margin-bottom: 65px;
  color: grey;
  background-color: #00001F;

  .container {
    //border: 1px dashed blue;
  }
  a {
    color: lightgray;
  }
  #show {
    vartical-align: middle;
    a {
      color: lightslategray;
      font-weight: bold;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: lightgray;
  }
}

#gearset {
  .row {
    margin-bottom: 0;
  }
  .form-control {
    margin-top: 10px;
    color: #00001F;
    font-weight: bold;
    background-color: #8B9FB3;
  }
}

#gearmenu {
  width: 274px; //(64+1+1)*4+border*2
  height: 274px;
  border: 5px solid #003366;

  div[class^="col"] {
    outline: 1px solid #003366;
    outline-offset: -1px;
    background-color: lightslategray;
    padding: 1px 1px;
  }
  .row {
    margin: 0 0;
  }
}

.navbar {
  background-color: black;
  height: 50px;
  .btn-group {
    width: 50%;
  }
}

.sidebar {
  .borderless img {
    outline: 1px solid gray;
    outline-offset: -1px;
  }
  .amazon {
    height: 250px;
    background-color: black;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-align: center;
}
