// * {
//   outline: 1px dashed gray;
//   outline-offset: -1px;
// }
.console {
  opacity: .9;
}
[class*="console"] {
  font-size: 18px !important;
}
.debug_dump {
  background: silver;
  outline: 1px solid white;
  outline-offset: -1px;
}