<div class="row d-flex align-items-center footer m-0 mt-5 text-center">
  <div class="col-md-2 py-2">
    <small>
      <%= link_to "About", "/about", data: {turbolinks: false} %>
    </small>
  </div>
  <div class="col-md-8">
    <small>
      記載されている会社名・製品名・システム名などは、各社の商標、または登録商標です。<br>
      Copyright (C) 2002 - 2018 SQUARE ENIX CO., LTD. All Rights Reserved.
    </small>
  </div>
  <div class="col-md-2" id="rails-logo">
    <a href="https://rubyonrails.org/"><img src="/rails-logo.gif"></a>
  </div>
</div>