<div class="my-4">
  <a href="https://twitter.com/from20020516?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @from20020516</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div style="height: 300px; width: 300px; border: 1px dashed grey" class="mb-3 mx-auto text-center">
  <h1>300*300</h1>
</div>
<div class="mb-3 borderless">
  <%= link_to image_tag('/refriender_logo.png'), "https://refriender.finalfantasyxi.com/" %>
</div>
<div class="mb-3 borderless">
  <%= link_to image_tag('/ffxi_logo.png'), "http://www.playonline.com/ff11/index.shtml" %>
</div>
<div class="">
  <%= link_to image_tag('/github_logo.png'), "https://github.com/from20020516/checkparam-rails" %>
</div>