<h5>Advertisement</h5>
<div class="ad-area">
  <%= render 'layouts/ads' if Rails.env == 'production' %>
</div>
<%= render 'layouts/cards', columns: 1 %>
<%= link_to image_tag('refriender_logo.gif', size: '300x119', class: 'my-4'), 'https://refriender.finalfantasyxi.com/' %>
<%= link_to image_tag('github_logo.gif', size: '300x119', class: 'my-4'), 'https://github.com/from20020516/checkparam-rails/' %>
