<div class="my-4">
  <a href="https://twitter.com/from20020516?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @from20020516</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="my-4">
  <%= link_to image_tag('refriender_logo.gif'), "https://refriender.finalfantasyxi.com/" %>
</div>
<%= render 'layouts/amazon' if Rails.env == 'production' %>