<sidebar>
  <div>
    <%= image_tag('/ad.png') %>
  </div>
  <div>
    <%= link_to image_tag('/refriender.png'), "https://refriender.finalfantasyxi.com/" %>
  </div>
  <h1>Information</h1>
  <div>要望・不具合報告はTwitterまでお寄せ下さい。</div>
  <div>
    <a href="https://twitter.com/from20020516?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @from20020516</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div>
    <%= link_to image_tag('/github.png'), "https://github.com/from20020516/checkparam-rails" %>
    <br>Pull Requestでの直接修正歓迎。
  </div>
</sidebar>